<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="css/login.css">
</head>
<body>
    <!-- The avatar user image -->
    <div id="imgcontainer">
        <img src="img/SS3.png" alt="" width="500" height="300" onclick="location.href='home.html'">
    </div>
    <!-- The form to login into the site -->
    <form action="/dologin" method="POST">
        <div id="container">
            <!-- Username label -->
            <label for="uname"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="username" required>
            <!-- Password label -->
            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="password" required>
            <!-- Login Button -->
            <button type="submit" id="login">Login</button>
            <button type="button" onclick="location.href='createAcc.html'" id="createAccount">Create Account</button>
        </div>
    </form>
    <footer>
       <h1> This is just a Simulator</h1>
    </footer>
</body>
</html>

