<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registartion</title>
    <link rel="stylesheet" href="css/createAcc.css">
</head>

<body>
    <!-- The avatar user image -->
    <div id="imgcontainer">
        <img src="img/SS3.png" alt="" width="500" height="300" onclick="location.href='/home'">
    </div>
    <!-- The form to login into the site -->
    <form action="/dologin" method="POST">
        <div id="container">
            <!-- Name label -->
            <label for="name"><b>Name</b></label>
            <input type="text" placeholder="Enter Username" name="username" required>
            <!-- email label -->
            <label for="uname"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="username" required>
            <!-- Password label -->
            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="password" required>
            <!-- Create Account Button -->
            <button type="submit" id="createAccount">Create Account</button>
        </div>
    </form>
    <!-- The image for join us -->
    <!-- <div id="img">
        <img src="img/network-issues.jpg" alt="" id="join">
    </div> -->
</body>

</html>