<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop</title>
    <link rel="stylesheet" href="css/shop.css">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li id="hi">Hi user</li>
                <li id="money">£100000</li>
                <li id="team">Team 1</li>
                <a href="/logout">
                    <li style="float:right"><button id="logbtn">Logout</button></li>
                </a>
            </ul>
        </nav>
    </header>
    <% productarray.forEach(function(product) {%>
    <div class="product">
        <div id="p1">
            <h1 id="pname"> <%= product.name %></h1>
            <form action="/updateprice" method="POST" id="myform">
                <label for="productprice" id="pprice" name="pprice"><%= product.price %></label><br>
                <label for="img" id="img"><img src="<%= product.img %>" alt="<%= product.name %>" width="220" height="220"></label><br>
            </form>
        </div>
        <button class="btn" type="submit" form="myform" value="buy">Buy</button>
        <button class="btn" type="submit" form="myform" value="sell">Sell</button>
    </div>
    <% }); %>


</body>

</html>