/* The css for the Form */
#form{
    float: left;
    justify-content: center;
    width: 500px;
}

/* The css for the create account header */
#heading{
    text-align: center;
}

/* The image */
/* #join{
    width: 300px;
    height: 300px;
} */

#imgcontainer{
    text-align: center;
    margin: 24px 0 12px 0;
    cursor: pointer;
  }


/* The input css for the input variables for the login */
input[type=text],input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  /* The css for the button to submit the data */
  button[type=submit] {
    width: 100%;
    background-color: purple;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* The button css for hover */
  button[type=submit]:hover {
    
      opacity: 0.8;
    }